.card-fit{
    max-height: 500px;
    overflow-y: auto;
}
.pointer{
    cursor: pointer;
    font-weight: bold;
}
.img-alter{
    width: 80px;
    height: 80px;
    border-radius: 50px;
    object-fit: cover;
    border:8px double #cccccc;
}