<section id="githubpages">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12 mt-5">
        <h4 class="text-warning text-center heading">Github Masters</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 offset-2">
          <div class="card mt-5">
            <div class="card-header clearfix">
             <span *ngIf="!showrepos">Users List</span>
             <span *ngIf="showrepos">Repository Lists</span>
              <button *ngIf="showrepos" class="btn btn-primary btn-sm float-right" (click)="gotouserslist()">Users List</button>
            </div>
            <div class="card-body card-fit p-0" *ngIf="!showrepos">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th class="w-25">Avator</th>
                    <th class="w-75">Usernames <small class="text-primary">(Click Username to see the repository List)</small></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let userlist of gituserslist;let i = index;">
                    <td>
                      <img class="img-alter" src="{{userlist.avatar_url}}" alt="">
                    </td>
                    <td><a class="text-primary pointer" (click)="fngetgitrepos(userlist.login)">{{userlist.login}}</a></td>
                  </tr>
                </tbody>
              </table>
            </div>

            <div class="card-body card-fit p-0" *ngIf="showrepos">
              <ul class="list-group">
                <li class="list-group-item" *ngFor="let repo_list of gitrepolist;let i = index;">
                 <label class="d-block text-primary">{{repo_list.name}}</label>
                 <small>URL :</small><small class="text-primary ml-2">{{repo_list.html_url}}</small>
                </li>
              </ul>
            </div>
            <div class="card-footer">
              
            </div>
          </div>
      </div>
    </div>
  </div>
</section>

