/* You can add global styles to this file, and also import other style files */
body{
    background: #062F4F !important;
    margin:0px;
    padding: 0px;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}
.heading{
    font-family: 'Courgette', cursive;

}
